*{  
margin: 0;
padding: 0; 
box-sizing: border-box;
} 
a{ 

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
ul ol { list-style: none;

} 
nav{
    text-align: center;
    border-bottom: 1px solid #055166;
    background-color: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
 }
nav ul li { 
    display: inline-block;
    position: relative;

}

nav ul li a{
    color: #000;
    padding: 15px 35px;
    display: block;
}
nav ul li:hover a{
    color: orangered;
}
/* *SUBMENU  */



nav ul li .submenu { 

    position: absolute;
    width: 200px;
    text-align: left;
    border: 1px solid #ccc;
    border-top: 3px solid orangered;
    
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

}
nav ul li:hover > .submenu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;

}

nav ul li .submenu li{
    display: block;
}

nav ul li .submenu li a{
    border-bottom: 1px solid #ccc;
}

nav ul li .submenu li:hover > a{
    background-color: orangered;
    color: white;
}



